#wrap{
display: none;
opacity: 0.8;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
padding: 16px;
background-color: rgba(1, 1, 1, 0.725);
z-index: 100;
overflow: auto;
animation-name: wrapopen;
animation-duration:.4s;
animation-timing-function: ease-out;
}
#window{
width: 400px;
height: 300px;
margin: 0 auto;
display: none;
background: #202020;
z-index: 200;
position: fixed;
left: 0;
right: 0;
top: 20%;
bottom: 0;
padding: 16px;
border-radius: 5px;
animation-name:modalopen;
animation-duration:.3s;
animation-timing-function: ease-out;
opacity: 0.99;
}
.remove{
position: absolute;
font-weight: 900;
top: 0;
right: 10px;
color: #ccc;
font-size: 30px;
padding: 3px;
cursor: pointer;
transition: 0.4s;
}
.remove:hover {
color: #777;
border-color: #777;
}
.form {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
}
.form__title {
	margin-top: 30px;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
}
.form__input {
	width: 250px;
	height: 35px;
	margin-top: 20px;
	font-size: 16px;
	border: 0.1px;
	border-radius: 2px;
}
.form__btn {
	margin-top: 40px;
}
@keyframes modalopen{
  from {
    opacity: 0; 
    top: 5%;
    width: 300px;
    height: 200px;
   }
  to {
    opacity: 1; 
    top: 20%;
    width: 400px;
    height: 300px;
    }
}
@keyframes wrapopen {
	  from {
    opacity: 0; 
   }
  to {
    opacity: 0.8; 
    }
}